@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    background-color: #000226;
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #30b9a7;
}

li, a, button {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #30b9a7;
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    cursor: pointer;
    height: 90px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #03fcff;
}

button {
    padding: 9px 25px;
    margin-right: 20px;
    background-color: #1d695f;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #30b9a7;
    color: #03fcff;
}

#inv_thesis {
    margin-top: 190px;
    padding-left: 175px;
    font-size: 50px;
    font-weight: 900;
}

.animated-word {
    position: fixed;
    font: inherit;
}
.animated-word:nth-child(1){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
}

.animated-word:nth-child(2){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}

@keyframes fade{
    0%,50% {
      opacity: 0;
}
    100%{
      opacity: 1;
  }
}